<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your recent oreder#<%= @order.id %> receipt </h1>
    <p>
      Your order is on the way
    </p>
    <p>Thanks for purchasing and have a great day!</p>
  </body>
</html>